.connector-selection-list__viewport-container {
  overflow: auto auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 15;
}

.pf-c-window-scroller .ReactVirtualized__VirtualGrid {
  overflow: visible !important;
}

.pf-c-window-scroller .ReactVirtualized__VirtualGrid__innerScrollContainer {
  overflow: visible !important;
}
