openapi: 3.0.3
info:
  title: Kafka Service Fleet Manager
  version: 0.0.1
  description: >-
    Kafka Service Fleet Manager is a Rest API to manage kafka instances and
    connectors.
servers:
  - url: 'https://api.openshift.com'
    description: Main (production) server
  - url: 'https://api.stage.openshift.com'
    description: Staging server
  - url: 'http://localhost:8000'
    description: localhost
  - url: /
    description: current domain
security:
  - bearer: []
paths:
  /api/managed-services-api/v1:
    get:
      operationId: versionMetadata
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionMetadata'
          description: Version metadata
      summary: Retrieves the version metadata
  /api/managed-services-api/v1/status:
    get:
      operationId: serviceStatus
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceStatus'
          description: Ok
        '500':
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
      summary: >-
        Retrieves the status of resources e.g whether we have reached maximum
        service capacity
      security:
        - Bearer: []
  '/api/managed-services-api/v1/kafkas/{id}':
    get:
      operationId: getKafkaById
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaRequest'
              examples:
                KafkaRequestGetResponseExample:
                  $ref: '#/components/examples/KafkaRequestExample'
                KafkaRequestGetResponseWithFailedCreationStatusExample:
                  $ref: >-
                    #/components/examples/KafkaRequestFailedCreationStatusExample
          description: Kafka request found by id
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                403Example:
                  $ref: '#/components/examples/403Example'
          description: User not authorized to access the service.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: No kafka request with specified id exists
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      summary: Get a kafka request by id
    delete:
      operationId: deleteKafkaById
      parameters:
        - in: query
          name: async
          description: Perform the action in an asynchronous manner
          schema:
            type: boolean
          required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example: null
          description: Deleted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                400DeletionExample:
                  $ref: '#/components/examples/400DeletionExample'
          description: Validation errors occurred
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                403Example:
                  $ref: '#/components/examples/403Example'
          description: User not authorized to access the service.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404DeleteExample:
                  $ref: '#/components/examples/404DeleteExample'
          description: No kafka request with specified id exists
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500DeleteExample:
                  $ref: '#/components/examples/500DeleteExample'
          description: Unexpected error occurred
      summary: Delete a kafka request by id
      security:
        - Bearer: []
    parameters:
      - $ref: '#/components/parameters/id'
  /api/managed-services-api/v1/kafkas:
    post:
      operationId: createKafka
      parameters:
        - in: query
          name: async
          description: Perform the action in an asynchronous manner
          schema:
            type: boolean
          required: true
      requestBody:
        description: Kafka data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KafkaRequestPayload'
            examples:
              USRegion:
                $ref: '#/components/examples/USRegionExample'
              EURegion:
                $ref: '#/components/examples/EURegionExample'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaRequest'
              examples:
                KafkaRequestPostResponseExample:
                  $ref: '#/components/examples/KafkaRequestExample'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                400CreationExample:
                  $ref: '#/components/examples/400CreationExample'
          description: Validation errors occurred
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                403Example:
                  $ref: '#/components/examples/403Example'
                403MaxAllowedInstanceReachedExample:
                  $ref: '#/components/examples/403MaxAllowedInstanceReachedExample'
          description: >-
            User forbidden either because the user is not authorized to access
            the service or because the maximum number of instances that can be
            created by this user has been reached.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: The requested resource doesn't exist
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                409NameConflictExample:
                  $ref: '#/components/examples/409NameConflictExample'
          description: A conflict has been detected in the creation of this resource
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: An unexpected error occurred creating the Kafka Request
      security:
        - Bearer: []
      summary: Create a new kafka Request
    get:
      summary: Returns a list of Kafka requests
      operationId: listKafkas
      security:
        - Bearer: []
      responses:
        '200':
          description: A list of Kafka requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaRequestList'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidQueryExample:
                  $ref: '#/components/examples/400InvalidQueryExample'
        '401':
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                403Example:
                  $ref: '#/components/examples/403Example'
          description: User not authorized to access the service.
        '500':
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/orderBy'
        - $ref: '#/components/parameters/search'
  /api/managed-services-api/v1/cloud_providers:
    get:
      summary: Retrieves the list of supported cloud providers.
      operationId: listCloudProviders
      security:
        - Bearer: []
      responses:
        '200':
          description: Retrieved list of supported cloud providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudProviderList'
        '401':
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
        '500':
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
  '/api/managed-services-api/v1/cloud_providers/{id}/regions':
    get:
      summary: Retrieves the list of supported regions of the supported cloud provider.
      operationId: listCloudProviderRegions
      security:
        - Bearer: []
      responses:
        '200':
          description: Retrieved list of supported cloud providers regions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRegionList'
        '401':
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
        '500':
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
  /api/managed-services-api/v1/serviceaccounts:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccountList'
          description: List of service accounts
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                403Example:
                  $ref: '#/components/examples/403Example'
          description: User not authorized to access the service
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: listServiceAccounts
      summary: List service accounts
    post:
      requestBody:
        description: service account request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAccountRequest'
            examples:
              sa:
                $ref: '#/components/examples/ServiceAccountRequestExample'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccount'
              examples:
                serviceaccount:
                  $ref: '#/components/examples/ServiceAccountExample'
          description: service account created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                403Example:
                  $ref: '#/components/examples/403Example'
          description: list of service account
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: createServiceAccount
      summary: Create a service account
  '/api/managed-services-api/v1/serviceaccounts/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccount'
              examples:
                sa:
                  $ref: '#/components/examples/ServiceAccountByIdExample'
          description: get service account by id
      security:
        - Bearer: []
      operationId: getServiceAccountById
      summary: get service account by id
    summary: Get service account by id
    description: Get the service account with the given id
    delete:
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '204':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: deleted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: auth token is invalid
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/403Example'
          description: User not authorized to access the service
        '500':
          content:
            application/json:
              schema: {}
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: deleteServiceAccount
      summary: Delete service account
  '/api/managed-services-api/v1/serviceaccounts/{id}/reset-credentials':
    post:
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccount'
              examples:
                sa-reset:
                  $ref: '#/components/examples/ServiceAccountExample'
          description: reset credentials
      security:
        - Bearer: []
      operationId: resetServiceAccountCreds
      summary: reset credentials for the service account
  '/api/managed-services-api/v1/kafkas/{id}/metrics/query_range':
    get:
      summary: Get metrics with timeseries range query by kafka id.
      operationId: GetMetricsByRangeQuery
      security:
        - Bearer: []
      responses:
        '200':
          description: A JSON array of prometheus metrics objects from observatorium
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsRangeQueryList'
        '401':
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
        '500':
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/duration'
        - $ref: '#/components/parameters/interval'
        - $ref: '#/components/parameters/filters'
  '/api/managed-services-api/v1/kafkas/{id}/metrics/query':
    get:
      summary: Get metrics with instant query by kafka id.
      operationId: GetMetricsByInstantQuery
      security:
        - Bearer: []
      responses:
        '200':
          description: A JSON array of prometheus metrics objects from observatorium
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsInstantQueryList'
        '401':
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
        '500':
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/filters'
  '/api/managed-services-api/v1/connector-types/{id}':
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorType'
          description: The connector type matching the request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: No matching connector type exists
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: getConnectorTypeByID
      summary: Get a connector type by name and version
    parameters:
      - $ref: '#/components/parameters/id'
  /api/managed-services-api/v1/connector-types:
    get:
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTypeList'
          description: A list of connector types
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: listConnectorTypes
      summary: Returns a list of connector types
  '/api/managed-services-api/v1/kafkas/{id}/connector-deployments':
    post:
      operationId: createConnector
      parameters:
        - in: query
          name: async
          description: Perform the action in an asynchronous manner
          schema:
            type: boolean
          required: true
      requestBody:
        description: Connector data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connector'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                400CreationExample:
                  $ref: '#/components/examples/400CreationExample'
          description: Validation errors occurred
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: The requested resource doesn't exist
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: An unexpected error occurred creating the connector
      security:
        - Bearer: []
      summary: Create a new connector
    get:
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorList'
          description: A list of connector deployments
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: listConnectors
      summary: Returns a list of connector types
    parameters:
      - $ref: '#/components/parameters/id'
  '/api/managed-services-api/v1/kafkas/{id}/connector-deployments/{cid}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
        - name: cid
          description: The id of the connector
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: The connector deployment matching the request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: No matching connector type exists
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: getConnector
      summary: Get a connector deployment
    delete:
      parameters:
        - name: id
          description: Id of the connector
          schema:
            type: string
          in: path
          required: true
      responses:
        '204':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Deleted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404DeleteExample:
                  $ref: '#/components/examples/404DeleteExample'
          description: No kafka request with specified id exists
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500DeleteExample:
                  $ref: '#/components/examples/500DeleteExample'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: deleteConnector
      summary: Delete a connector
    parameters:
      - $ref: '#/components/parameters/id'
  /api/managed-services-api/v1/kafka-connector-clusters:
    post:
      operationId: createConnectorCluster
      parameters:
        - in: query
          name: async
          description: Perform the action in an asynchronous manner
          schema:
            type: boolean
          required: true
      requestBody:
        description: Connector cluster data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorCluster'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCluster'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                400CreationExample:
                  $ref: '#/components/examples/400CreationExample'
          description: Validation errors occurred
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: The requested resource doesn't exist
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: An unexpected error occurred creating the connector cluster
      security:
        - Bearer: []
      summary: Create a new connector cluster
    get:
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorClusterList'
          description: A list of connector clusters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: listConnectorClusters
      summary: Returns a list of connector clusters
    parameters:
      - $ref: '#/components/parameters/id'
  '/api/managed-services-api/v1/kafka-connector-clusters/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
        - name: cid
          description: The id of the connector cluster
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCluster'
          description: The connector cluster matching the request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: No matching connector cluster type exists
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: getConnectorCluster
      summary: Get a connector cluster
    delete:
      parameters:
        - name: id
          description: Id of the connector cluster
          schema:
            type: string
          in: path
          required: true
      responses:
        '204':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Deleted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404DeleteExample:
                  $ref: '#/components/examples/404DeleteExample'
          description: No resource with specified id exists
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500DeleteExample:
                  $ref: '#/components/examples/500DeleteExample'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: deleteConnectorCluster
      summary: Delete a connector cluster
    parameters:
      - $ref: '#/components/parameters/id'
  '/api/managed-services-api/v1/kafka-connector-clusters/{id}/addon-parameters':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
        - name: cid
          description: The id of the connector cluster
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonParameterList'
          description: >-
            The parameters that should be used to configure the managed
            connector addon on the cluster.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: No matching connector cluster type exists
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: getConnectorClusterAddonParameters
      summary: Get a connector cluster's addon parameters
    parameters:
      - $ref: '#/components/parameters/id'
  '/api/managed-services-api/v1/kafka-connector-clusters/{id}/status':
    put:
      requestBody:
        description: Cluster status update data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorClusterUpdateStatus'
        required: true
      responses:
        '200':
          description: Cluster status is updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: Auth token is not valid.
      security:
        - Bearer: []
      operationId: updateKafkaConnectorAgentClusterStatus
      summary: Update the status of a connector agent cluster
    parameters:
      - $ref: '#/components/parameters/id'
  '/api/managed-services-api/v1/kafka-connector-clusters/{id}/connectors':
    parameters:
      - $ref: '#/components/parameters/id'
    get:
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - in: query
          name: gt_version
          description: >-
            filters the connectors to those with a version greater than the
            given value
          schema:
            type: integer
            format: int64
        - in: query
          name: watch
          description: >-
            watch for changes to the resources and return them as a stream of
            watch events. Specify gt_version to specify the starting point.
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorList'
            application/json;stream=watch:
              schema:
                $ref: '#/components/schemas/ConnectorWatchEvent'
          description: A list of connector deployments
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                401Example:
                  $ref: '#/components/examples/401Example'
          description: Auth token is invalid
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                500Example:
                  $ref: '#/components/examples/500Example'
          description: Unexpected error occurred
      security:
        - Bearer: []
      operationId: listClusterAsignedConnectors
      summary: Returns a list of connector types
  '/api/managed-services-api/v1/kafka-connector-clusters/{id}/connectors/{cid}/status':
    put:
      requestBody:
        description: Cluster status update data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorUpdateStatus'
        required: true
      responses:
        '200':
          description: Cluster status is updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: Auth token is not valid.
      security:
        - Bearer: []
      operationId: updateKafkaConnectorStatus
      summary: Update the status of a connector agent cluster
    parameters:
      - $ref: '#/components/parameters/id'
      - name: cid
        description: The id of the connector
        schema:
          type: string
        in: path
        required: true
  '/api/managed-services-api/v1/agent-clusters/{id}/status':
    put:
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        description: Cluster status update data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest'
        required: true
      responses:
        '200':
          description: Cluster status is updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: Auth token is not valid.
      security:
        - Bearer: []
      operationId: updateAgentClusterStatus
      summary: Update the status of an agent cluster
  '/api/managed-services-api/v1/agent-clusters/{id}/kafkas/status':
    put:
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        description: Kafka clusters status update data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPlaneKafkaStatusUpdateRequest'
        required: true
      responses:
        '200':
          description: Status is updated for Kafka clusters
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: Auth token is not valid.
      security:
        - Bearer: []
      operationId: updateKafkaClusterStatus
      summary: Update the status of Kafka clusters on an agent cluster
  '/api/managed-services-api/v1/agent-clusters/{id}/kafkas':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The list of the ManagedKafkas for the specified agent cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedKafkaList'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: Auth token is not valid.
      security:
        - Bearer: []
      operationId: getKafkas
      summary: Get the list of ManagedaKafkas for the specified agent cluster
  '/api/managed-services-api/v1/agent-clusters/{id}':
    get:
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The ManagedKafkaAgent CR Spec
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataplaneClusterAgentConfig'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                404Example:
                  $ref: '#/components/examples/404Example'
          description: Auth token is not valid.
      security:
        - Bearer: []
      operationId: getKafkaAgent
      summary: Get the spec of the ManagedKafkaAgent CR spec
  /api/clusters_mgmt/v1:
    get:
      description: |
        Retrieves the version metadata.
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  /api/clusters_mgmt/v1/addons:
    post:
      description: |
        Create a new add-on and add it to the collection of add-ons.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOn'
      responses:
        '201':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the list of add-ons.
      parameters:
        - name: order
          description: >
            Order criteria.


            The syntax of this parameter is similar to the syntax of the _order
            by_ clause of

            a SQL statement, but using the names of the attributes of the add-on
            instead of

            the names of the columns of a table. For example, in order to sort
            the add-ons

            descending by name the value should be:



            ```

            name desc

            ```


            If the parameter isn't provided, or if the value is empty, then the
            order of the

            results is undefined.
          in: query
          schema:
            type: string
        - name: page
          description: >
            Index of the requested page, where one corresponds to the first
            page.
          in: query
          schema:
            type: integer
            format: int32
        - name: search
          description: >
            Search criteria.


            The syntax of this parameter is similar to the syntax of the _where_
            clause of an

            SQL statement, but using the names of the attributes of the add-on
            instead of

            the names of the columns of a table. For example, in order to
            retrieve all the

            add-ons with a name starting with `my` the value should be:



            ```

            name like 'my%'

            ```


            If the parameter isn't provided, or if the value is empty, then all
            the add-ons

            that the user has permission to see will be returned.
          in: query
          schema:
            type: string
        - name: size
          description: |
            Maximum number of items that will be contained in the returned page.
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    description: |
                      Retrieved list of add-ons.
                    type: array
                    items:
                      $ref: '#/components/schemas/AddOn'
                  page:
                    description: >
                      Index of the requested page, where one corresponds to the
                      first page.
                    type: integer
                    format: int32
                  size:
                    description: >
                      Maximum number of items that will be contained in the
                      returned page.
                    type: integer
                    format: int32
                  total:
                    description: >
                      Total number of items of the collection that match the
                      search criteria,

                      regardless of the size of the page.
                    type: integer
                    format: int32
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/addons/{addon_id}':
    delete:
      description: |
        Deletes the add-on.
      parameters:
        - name: addon_id
          in: path
          schema:
            type: string
      responses:
        '204':
          description: |
            Success.
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the details of the add-on.
      parameters:
        - name: addon_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    patch:
      description: |
        Updates the add-on.
      parameters:
        - name: addon_id
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOn'
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  /api/clusters_mgmt/v1/aws_infrastructure_access_roles:
    get:
      parameters:
        - name: order
          description: >
            Order criteria.


            The syntax of this parameter is similar to the syntax of the _order
            by_ clause of

            a SQL statement, but using the names of the attributes of the role
            instead of

            the names of the columns of a table. For example, in order to sort
            the roles

            descending by dislay_name the value should be:



            ```

            display_name desc

            ```


            If the parameter isn't provided, or if the value is empty, then the
            order of the

            results is undefined.
          in: query
          schema:
            type: string
        - name: page
          description: >
            Index of the requested page, where one corresponds to the first
            page.
          in: query
          schema:
            type: integer
            format: int32
        - name: search
          description: >
            Search criteria.


            The syntax of this parameter is similar to the syntax of the _where_
            clause of an

            SQL statement, but using the names of the attributes of the role
            instead of

            the names of the columns of a table. For example, in order to
            retrieve all the

            role with a name starting with `my`the value should be:



            ```

            display_name like 'my%'

            ```


            If the parameter isn't provided, or if the value is empty, then all
            the roles

            that the user has permission to see will be returned.
          in: query
          schema:
            type: string
        - name: size
          description: |
            Maximum number of items that will be contained in the returned page.
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    description: |
                      Retrieved list of roles.
                    type: array
                    items:
                      $ref: '#/components/schemas/AWSInfrastructureAccessRole'
                  page:
                    description: >
                      Index of the requested page, where one corresponds to the
                      first page.
                    type: integer
                    format: int32
                  size:
                    description: >
                      Maximum number of items that will be contained in the
                      returned page.
                    type: integer
                    format: int32
                  total:
                    description: >
                      Total number of items of the collection that match the
                      search criteria,

                      regardless of the size of the page.
                    type: integer
                    format: int32
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/aws_infrastructure_access_roles/{aws_infrastructure_access_role_id}':
    get:
      description: |
        Retrieves the details of the aws infrastructure access role.
      parameters:
        - name: aws_infrastructure_access_role_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AWSInfrastructureAccessRole'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  /api/clusters_mgmt/v1/cloud_providers:
    get:
      description: |
        Retrieves the list of cloud providers.
      parameters:
        - name: order
          description: >
            Order criteria.


            The syntax of this parameter is similar to the syntax of the _order
            by_ clause of

            a SQL statement, but using the names of the attributes of the cloud
            provider

            instead of the names of the columns of a table. For example, in
            order to sort the

            clusters descending by name identifier the value should be:



            ```

            name desc

            ```


            If the parameter isn't provided, or if the value is empty, then the
            order of the

            results is undefined.
          in: query
          schema:
            type: string
        - name: page
          description: >
            Index of the requested page, where one corresponds to the first
            page.
          in: query
          schema:
            type: integer
            format: int32
        - name: search
          description: >
            Search criteria.


            The syntax of this parameter is similar to the syntax of the _where_
            clause of a

            SQL statement, but using the names of the attributes of the cloud
            provider

            instead of the names of the columns of a table. For example, in
            order to retrieve

            all the cloud providers with a name starting with `A` the value
            should be:



            ```

            name like 'A%'

            ```


            If the parameter isn't provided, or if the value is empty, then all
            the clusters

            that the user has permission to see will be returned.
          in: query
          schema:
            type: string
        - name: size
          description: |
            Maximum number of items that will be contained in the returned page.
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    description: |
                      Retrieved list of cloud providers.
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudProvider1'
                  page:
                    description: >
                      Index of the requested page, where one corresponds to the
                      first page.
                    type: integer
                    format: int32
                  size:
                    description: >
                      Maximum number of items that will be contained in the
                      returned page.
                    type: integer
                    format: int32
                  total:
                    description: >
                      Total number of items of the collection that match the
                      search criteria,

                      regardless of the size of the page.
                    type: integer
                    format: int32
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/cloud_providers/{cloud_provider_id}':
    get:
      description: |
        Retrieves the details of the cloud provider.
      parameters:
        - name: cloud_provider_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudProvider1'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/cloud_providers/{cloud_provider_id}/available_regions':
    post:
      description: >
        Retrieves the list of available regions of the cloud provider.


        IMPORTANT: This collection doesn't currently support paging or
        searching, so the returned

        `page` will always be 1 and `size` and `total` will always be the total
        number of available regions

        of the provider.
      parameters:
        - name: cloud_provider_id
          in: path
          schema:
            type: string
        - name: page
          description: >
            Index of the returned page, where one corresponds to the first page.
            As this

            collection doesn't support paging the result will always be `1`.
          in: query
          schema:
            type: integer
            format: int32
        - name: size
          description: >
            Number of items that will be contained in the returned page. As this
            collection

            doesn't support paging or searching the result will always be the
            total number of

            regions of the provider.
          in: query
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AWS'
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    description: |
                      Retrieved list of cloud regions.
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudRegion1'
                  page:
                    description: >
                      Index of the returned page, where one corresponds to the
                      first page. As this

                      collection doesn't support paging the result will always
                      be `1`.
                    type: integer
                    format: int32
                  size:
                    description: >
                      Number of items that will be contained in the returned
                      page. As this collection

                      doesn't support paging or searching the result will always
                      be the total number of

                      regions of the provider.
                    type: integer
                    format: int32
                  total:
                    description: >
                      Total number of items of the collection that match the
                      search criteria,

                      regardless of the size of the page. As this collection
                      doesn't support paging or

                      searching the result will always be the total number of
                      available regions of the provider.
                    type: integer
                    format: int32
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/cloud_providers/{cloud_provider_id}/regions':
    get:
      description: >
        Retrieves the list of regions of the cloud provider.


        IMPORTANT: This collection doesn't currently support paging or
        searching, so the returned

        `page` will always be 1 and `size` and `total` will always be the total
        number of regions

        of the provider.
      parameters:
        - name: cloud_provider_id
          in: path
          schema:
            type: string
        - name: page
          description: >
            Index of the returned page, where one corresponds to the first page.
            As this

            collection doesn't support paging the result will always be `1`.
          in: query
          schema:
            type: integer
            format: int32
        - name: size
          description: >
            Number of items that will be contained in the returned page. As this
            collection

            doesn't support paging or searching the result will always be the
            total number of

            regions of the provider.
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    description: |
                      Retrieved list of cloud providers.
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudRegion1'
                  page:
                    description: >
                      Index of the returned page, where one corresponds to the
                      first page. As this

                      collection doesn't support paging the result will always
                      be `1`.
                    type: integer
                    format: int32
                  size:
                    description: >
                      Number of items that will be contained in the returned
                      page. As this collection

                      doesn't support paging or searching the result will always
                      be the total number of

                      regions of the provider.
                    type: integer
                    format: int32
                  total:
                    description: >
                      Total number of items of the collection that match the
                      search criteria,

                      regardless of the size of the page. As this collection
                      doesn't support paging or

                      searching the result will always be the total number of
                      regions of the provider.
                    type: integer
                    format: int32
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/cloud_providers/{cloud_provider_id}/regions/{region_id}':
    get:
      description: |
        Retrieves the details of the region.
      parameters:
        - name: cloud_provider_id
          in: path
          schema:
            type: string
        - name: region_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRegion1'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  /api/clusters_mgmt/v1/clusters:
    post:
      description: |
        Provision a new cluster and add it to the collection of clusters.

        See the `register_cluster` method for adding an existing cluster.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
      responses:
        '201':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the list of clusters.
      parameters:
        - name: order
          description: >
            Order criteria.


            The syntax of this parameter is similar to the syntax of the _order
            by_ clause of

            a SQL statement, but using the names of the attributes of the
            cluster instead of

            the names of the columns of a table. For example, in order to sort
            the clusters

            descending by region identifier the value should be:



            ```

            region.id desc

            ```


            If the parameter isn't provided, or if the value is empty, then the
            order of the

            results is undefined.
          in: query
          schema:
            type: string
        - name: page
          description: >
            Index of the requested page, where one corresponds to the first
            page.
          in: query
          schema:
            type: integer
            format: int32
        - name: search
          description: >
            Search criteria.


            The syntax of this parameter is similar to the syntax of the _where_
            clause of a

            SQL statement, but using the names of the attributes of the cluster
            instead of

            the names of the columns of a table. For example, in order to
            retrieve all the

            clusters with a name starting with `my` in the `us-east-1` region
            the value

            should be:



            ```

            name like 'my%' and region.id = 'us-east-1'

            ```


            If the parameter isn't provided, or if the value is empty, then all
            the

            clusters that the user has permission to see will be returned.
          in: query
          schema:
            type: string
        - name: size
          description: |
            Maximum number of items that will be contained in the returned page.
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    description: |
                      Retrieved list of clusters.
                    type: array
                    items:
                      $ref: '#/components/schemas/Cluster'
                  page:
                    description: >
                      Index of the requested page, where one corresponds to the
                      first page.
                    type: integer
                    format: int32
                  size:
                    description: >
                      Maximum number of items that will be contained in the
                      returned page.
                    type: integer
                    format: int32
                  total:
                    description: >
                      Total number of items of the collection that match the
                      search criteria,

                      regardless of the size of the page.
                    type: integer
                    format: int32
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}':
    delete:
      description: |
        Deletes the cluster.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
      responses:
        '204':
          description: |
            Success.
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the details of the cluster.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    patch:
      description: |
        Updates the cluster.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/hibernate':
    post:
      description: >
        Initiates cluster hibernation. While hibernating a cluster will not
        consume any cloud provider infrastructure

        but will be counted for quota.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/resume':
    post:
      description: |
        Resumes from Hibernation.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/addons':
    post:
      description: >
        Create a new add-on installation and add it to the collection of add-on
        installations on the cluster.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOnInstallation'
      responses:
        '201':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOnInstallation'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the list of add-on installations.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: order
          description: >
            Order criteria.


            The syntax of this parameter is similar to the syntax of the _order
            by_ clause of

            a SQL statement, but using the names of the attributes of the add-on
            installation

            instead of the names of the columns of a table. For example, in
            order to sort the

            add-on installations descending by name the value should be:



            ```

            name desc

            ```


            If the parameter isn't provided, or if the value is empty, then the
            order of the

            results is undefined.
          in: query
          schema:
            type: string
        - name: page
          description: >
            Index of the requested page, where one corresponds to the first
            page.
          in: query
          schema:
            type: integer
            format: int32
        - name: search
          description: >
            Search criteria.


            The syntax of this parameter is similar to the syntax of the _where_
            clause of an

            SQL statement, but using the names of the attributes of the add-on
            installation

            instead of the names of the columns of a table. For example, in
            order to retrieve

            all the add-on installations with a name starting with `my` the
            value should be:



            ```

            name like 'my%'

            ```


            If the parameter isn't provided, or if the value is empty, then all
            the add-on

            installations that the user has permission to see will be returned.
          in: query
          schema:
            type: string
        - name: size
          description: |
            Maximum number of items that will be contained in the returned page.
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    description: |
                      Retrieved list of add-on installations.
                    type: array
                    items:
                      $ref: '#/components/schemas/AddOnInstallation'
                  page:
                    description: >
                      Index of the requested page, where one corresponds to the
                      first page.
                    type: integer
                    format: int32
                  size:
                    description: >
                      Maximum number of items that will be contained in the
                      returned page.
                    type: integer
                    format: int32
                  total:
                    description: >
                      Total number of items of the collection that match the
                      search criteria,

                      regardless of the size of the page.
                    type: integer
                    format: int32
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/addons/{addoninstallation_id}':
    delete:
      description: >
        Delete an add-on installation and remove it from the collection of
        add-on installations on the cluster.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: addoninstallation_id
          in: path
          schema:
            type: string
      responses:
        '204':
          description: |
            Success.
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the details of the add-on installation.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: addoninstallation_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOnInstallation'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    patch:
      description: |
        Updates the add-on installation.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: addoninstallation_id
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOnInstallation'
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOnInstallation'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/aws_infrastructure_access_role_grants':
    post:
      description: >
        Create a new AWS infrastructure access role grant and add it to the
        collection of

        AWS infrastructure access role grants on the cluster.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AWSInfrastructureAccessRoleGrant'
      responses:
        '201':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AWSInfrastructureAccessRoleGrant'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the list of AWS infrastructure access role grants.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: order
          description: >
            Order criteria.


            The syntax of this parameter is similar to the syntax of the _order
            by_ clause of

            a SQL statement, but using the names of the attributes of the AWS
            infrastructure access role grant

            instead of the names of the columns of a table. For example, in
            order to sort the

            AWS infrastructure access role grants descending by user ARN the
            value should be:



            ```

            user_arn desc

            ```


            If the parameter isn't provided, or if the value is empty, then the
            order of the

            results is undefined.
          in: query
          schema:
            type: string
        - name: page
          description: >
            Index of the requested page, where one corresponds to the first
            page.
          in: query
          schema:
            type: integer
            format: int32
        - name: search
          description: >
            Search criteria.


            The syntax of this parameter is similar to the syntax of the _where_
            clause of an

            SQL statement, but using the names of the attributes of the AWS
            infrastructure access role grant

            instead of the names of the columns of a table. For example, in
            order to retrieve

            all the AWS infrastructure access role grants with a user ARN
            starting with `user` the value should be:



            ```

            user_arn like '%user'

            ```


            If the parameter isn't provided, or if the value is empty, then all
            the AWS

            infrastructure access role grants that the user has permission to
            see will be returned.
          in: query
          schema:
            type: string
        - name: size
          description: |
            Maximum number of items that will be contained in the returned page.
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    description: |
                      Retrieved list of AWS infrastructure access role grants.
                    type: array
                    items:
                      $ref: '#/components/schemas/AWSInfrastructureAccessRoleGrant'
                  page:
                    description: >
                      Index of the requested page, where one corresponds to the
                      first page.
                    type: integer
                    format: int32
                  size:
                    description: >
                      Maximum number of items that will be contained in the
                      returned page.
                    type: integer
                    format: int32
                  total:
                    description: >
                      Total number of items of the collection that match the
                      search criteria,

                      regardless of the size of the page.
                    type: integer
                    format: int32
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/aws_infrastructure_access_role_grants/{aws_infrastructure_access_role_grant_id}':
    delete:
      description: |
        Deletes the AWS infrastructure access role grant.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: aws_infrastructure_access_role_grant_id
          in: path
          schema:
            type: string
      responses:
        '204':
          description: |
            Success.
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the details of the AWS infrastructure access role grant.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: aws_infrastructure_access_role_grant_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AWSInfrastructureAccessRoleGrant'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/credentials':
    get:
      description: |
        Retrieves the details of the credentials of a cluster.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/external_configuration':
    get:
      description: |
        Retrieves the details of the external configuration.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalConfiguration'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/external_configuration/labels':
    post:
      description: |
        Adds a new label to the cluster.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Label'
      responses:
        '201':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the list of labels.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: page
          description: >
            Index of the requested page, where one corresponds to the first
            page.
          in: query
          schema:
            type: integer
            format: int32
        - name: size
          description: |
            Number of items contained in the returned page.
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    description: |
                      Retrieved list of labels.
                    type: array
                    items:
                      $ref: '#/components/schemas/Label'
                  page:
                    description: >
                      Index of the requested page, where one corresponds to the
                      first page.
                    type: integer
                    format: int32
                  size:
                    description: |
                      Number of items contained in the returned page.
                    type: integer
                    format: int32
                  total:
                    description: |
                      Total number of items of the collection.
                    type: integer
                    format: int32
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/external_configuration/labels/{label_id}':
    delete:
      description: |
        Deletes the label.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: label_id
          in: path
          schema:
            type: string
      responses:
        '204':
          description: |
            Success.
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the details of the label.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: label_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    patch:
      description: |
        Update the label.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: label_id
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Label'
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/external_configuration/syncsets':
    post:
      description: |
        Adds a new syncset to the cluster.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Syncset'
      responses:
        '201':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Syncset'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the list of syncsets.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: page
          description: >
            Index of the requested page, where one corresponds to the first
            page.
          in: query
          schema:
            type: integer
            format: int32
        - name: size
          description: |
            Number of items contained in the returned page.
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    description: |
                      Retrieved list of syncsets.
                    type: array
                    items:
                      $ref: '#/components/schemas/Syncset'
                  page:
                    description: >
                      Index of the requested page, where one corresponds to the
                      first page.
                    type: integer
                    format: int32
                  size:
                    description: |
                      Number of items contained in the returned page.
                    type: integer
                    format: int32
                  total:
                    description: |
                      Total number of items of the collection.
                    type: integer
                    format: int32
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/external_configuration/syncsets/{syncset_id}':
    delete:
      description: |
        Deletes the syncset.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: syncset_id
          in: path
          schema:
            type: string
      responses:
        '204':
          description: |
            Success.
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    get:
      description: |
        Retrieves the details of the syncset.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: syncset_id
          in: path
          schema:
            type: string
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Syncset'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
    patch:
      description: |
        Update the syncset.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: syncset_id
          in: path
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Syncset'
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Syncset'
        default:
          description: |
            Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
  '/api/clusters_mgmt/v1/clusters/{cluster_id}/groups':
    get:
      description: |
        Retrieves the list of groups.
      parameters:
        - name: cluster_id
          in: path
          schema:
            type: string
        - name: page
          description: >
            Index of the requested page, where one corresponds to the first
            page.
          in: query
          schema:
            type: integer
            format: int32
        - name: size
          description: |
            Number of items contained in the returned page.
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    description: |
                      Retrieved list of groups.
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
                  page:
[...]
