.connector-type-gallery__sidebar-content.pf-c-sidebar__content {
  background-color: inherit;
}

.connector-types-gallery__vertical-tabs {
  margin-bottom: 0px;
}

.connector-types-gallery__search-input {
  margin-top: 1.25em;
}

.pf-c-window-scroller .ReactVirtualized__VirtualGrid {
  overflow: visible !important;
}

.pf-c-window-scroller .ReactVirtualized__VirtualGrid__innerScrollContainer {
  overflow: visible !important;
}
